[Desktop Entry]
Type=Application
Name=Terminal
GenericName=Terminal Emulator
Comment=System terminal
Exec=x-terminal-emulator
Icon=utilities-terminal
Terminal=false
Categories=System;TerminalEmulator;
Keywords=terminal;shell;console;
StartupNotify=true
