[Desktop Entry]
Type=Application
Name=Files
GenericName=File Manager
Comment=Browse files and folders
Exec=pcmanfm
Icon=system-file-manager
Terminal=false
Categories=System;FileManager;
Keywords=files;folders;manager;
StartupNotify=true
